<h1>
    This is My Todo List App!
</h1>

<div class="task-container">
    
    <div>
        <h2>Tasks</h2>
        <ul class="task-list" *ngFor="let singleTask of taskLists; let even = even; let index = index">
            <li class="list">
                {{index + 1}}
                <app-task [singleTask]="singleTask" 
                (selectedTask)="receiveDeletionId($event)"
                (selectCheckStatus)="receivedCheckedFromTask($event)"
                (selectedCategory)="receiveSelectedCategory($event)"></app-task>
            </li>
        </ul>
    </div>
   
    <div class="checked-tasks">
        <h2>Checked Tasks</h2>
        <ul class="checked-list list" *ngFor="let checkedTask of checkedList; let index= index">
            <li class="checked-list list">
                <app-task [singleTask]="checkedTask" 
                (selectedTask)="receiveDeletionId($event)"
                (selectCheckStatus)="receivedCheckedFromTask($event)"></app-task>
            </li>
        </ul>
    </div>   


</div>



