<app-todolist-display
[taskLists]="newTasks"
[checkedList]="checkedTaskCollection"
(passDeletionIdToApp)="receiveId($event)"
(receivedCheckedStatusFromTask)="changeCheckedStatus($event)"
(sendCategoryToApp)="finallyReceivedCategory($event)"
>
</app-todolist-display>

<app-add-task (outputAddtask)="addTask($event)"></app-add-task>

<h1>Tasks By Category</h1>

<div class="category-container" *ngFor="let category of categories">
    <button (click)="showTaskBasedCategory(category)">
        {{category}}
    </button>
</div>

<div *ngFor="let taskByCategory of tasksByCategory">
    <li>
        {{taskByCategory.title}}
        Category: {{taskByCategory.category}}
    </li>
</div>

